<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386323295256-27hipt1g950jj6fsv6qctm6vdr4mi3h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386323295256-27hipt1g950jj6fsv6qctm6vdr4mi3h7</string>
	<key>API_KEY</key>
	<string>AIzaSyDQC9J3TPJqgTa2mkadwquh8gQd7UncSt0</string>
	<key>GCM_SENDER_ID</key>
	<string>386323295256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.vite.wallet</string>
	<key>PROJECT_ID</key>
	<string>vite-wallet-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vite-wallet-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386323295256:ios:8535365715c3a766ec276d</string>
</dict>
</plist>